$color-white: #fff;
$color-black: #000;
$color-blue: blue;
$color-grey30: #3a3a3a;
$header-nav-background-color: #26A541;
$header-nav-background-gradient-color: linear-gradient(90.01deg, #fdffff 0.01%, #c7edf2 99.2%);

$greycc:#ccc;
$greyee:#eee;
$greyf9:#f9f9f9;
$lightblue:#8edce6;
$blue:#213352;
$blue56:#262f56;
$blue0e:#061c0e;
$blue7f6:#dce7f6;

$black3a:#3a3a3a;
$black3a33:#3a3a33;
$black33:#333;
$black66:#666;
$black99:#999;
$black48:#484848;
$black0d:#0d0d0d;
$black25:#252525;
$black1b:#1b1b1b;
$black3e:#3e3e3e;
$blacka1:#a1a1a1;
$black65:#656565;
$black11:#111;
$black55:#555;

$grey80:#808080;
$greyf5:#f5f5f5;
$grey89:#898989;
$grey86:#868686;
$grey8e:#8e8e8e;
$greyf7:#f4f5f7;
$greyf9:#f2f4f9;
$greyf2:#f2f2f2;
$greyf7f7:#f7f7f7;
$grey5b:#5b5b5b;
$grey61:#616161;
$greya8:#a8a8a8;
$greyb1:#b1b1b1;
$greybd:#a9abbd;
$greye7:#e9e9e7;
$greyb0:#b0b0b0;
$greyfc:#f5fffc;
$grey9f7:#F7F9F7;
$greyff:#f5fbff;
$greyf8:#f8f8f8;

$orange:#fe4a49;
$orange71:#e97171;
$orange9b:#ff9b9b;
$orange2a:#d8232a;
$orange72:#e97172;

$green87:#6ac987;
$green3a:#008f3a;
$green65:#1dcf65;

$yellow49:#FEAB49;
$bluef6:#e6f0f6;
$yellowf49:#fcbf49;
$yellow45:#fbff45;
$yellow32:#FFF732;
$yellowed:#fff9ed;

$red:red;
$colorc7:#ffccc7;
$color8f:#b7eb8f;
$colorff:#91d5ff;
$color58f:#ffe58f;
$colored:#f6ffed;
$color7ff:#e6f7ff;
$colore6: #fffbe6;
$color3e:#18263e;
$colorc4c4:#c4c4c4;

$colord2: #D2F5E0;
$color41:#26A541;
$colorf3:#EDFBF3;

$colorblue21: #213455;

$colorblue33: #337ab7;